<p>Howdy! Here's a list of awesome computer scientists. Do you know any others? Add to the list yourself.</p>


<form [formGroup]="UserForm" (submit)="ok()">
<div>
  <label for="username">User Name</label>
  <input type="text" id="username" formControlName="UserName">
  <div *ngIf="formErrors.UserName" class="alert alert-danger">
    {{ formErrors.UserName }}
  </div>
</div>

<button type="submit"  [ngClass]="{'disable': UserForm.valid === false}" [disabled]="!UserForm.valid">OK</button>
</form>


{{showtext}}
